#photos img{
    width: 100%;
}

#photos img{
    height: 240px;;
}

.well{
    background-color: black;
    margin-top: 20px;
    border: 1px solid white;
}

.btn{
    margin-top: 10px;
    background-color: yellow;
    color: black;
}

.btn:hover{
    background-color: black;
    color: yellow;
}

h5{
    color: white;
    text-transform: uppercase;
}
h3{
    color: white;
}
footer{
    display: flex;
    margin-top: 30px;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
    height: 70px;
    justify-content: center;
    align-items: center;
}
#footer-link:hover{
    text-decoration: none;
    font-size: large;
}
#card-container{

}
#photo-text{
    margin-top: 5px;
    color: white;
}